.menu-bar-item{
  display: flex;
  margin: auto
}

.menu-bar-item > ul{
  display: flex;
  list-style-type: none;
}

.menu-bar-item > ul > li{
  padding: 10px;
  margin-right: 30px;
}

.menu-bar-item > ul > li >a{
  text-decoration: none;
  padding: 5px;
  color: rgb(7,7,7);
  font-family: 'Segoe UI';
}

.menu-bar-item > ul > li > a:hover{
  color: red;
  font-weight: 600;
}
